<div class="modal-body text-center">
    <p ng-hide="mnemonic_2of3">QR код, що містить фразу-пароль для доступу до вашого гаманця:</p>
    <p ng-show="mnemonic_2of3">QR код, що містить фразу-пароль для відновлення доступу до вашого суб-акаунту:</p>
    <p><qr text="(( mnemonic_2of3 || mnemonic_encrypted || wallet.mnemonic ))" size="212"></qr></p>
    <p ng-show="mnemonic_encrypted">This passphrase is encrypted, so your encryption password is required to use it.</p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i> Зберігайте його в надійному місці!</b></p>
    <p style="word-break: normal" ng-show="mnemonic_2of3"><b><i class="glyphicon glyphicon-exclamation-sign"></i> Мнемоніка для суб-акаунту не зберігається ані на боці GreenAddress, ані в вашому браузері, тому ви *МАЄТЕ* зберегти її щоб мати змогу відновити доступ до вашого суб-акаунту типу 2of3.</b></p>

    <div class="mnemonic-label">Ваша мнемонічна фраза-пароль</div>
    <div style="word-break: normal" class="mnemonic info" ng-bind="mnemonic_encrypted || wallet.mnemonic"></div>

    <div ng-show="mnemonic_2of3">
        <div class="mnemonic-label"><br/>Ваша мнемонічна фраза-пароль для відновлення суб-акаунту</div>
        <div style="word-break: normal" class="mnemonic info" ng-bind="mnemonic_2of3"></div>
    </div>

    <div ng-show="xpub_2of3 && !mnemonic_2of3">
        <div class="mnemonic-label"><br/>Your subaccount recovery xpub</div>
        <div class="mnemonic info" ng-bind="xpub_2of3"></div>
    </div>


    <div ng-show="mnemonic_2of3 || xpub_2of3" class="mnemonic-label"><br/>Your subaccount GreenAddress xpub</div>
    <div ng-show="mnemonic_2of3 || xpub_2of3" class="mnemonic info" ng-bind="xpub_ga_2of3"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Закрити</button>
</div>